.prompt h1 {
    font-size: xx-large;
    color: var(--subtitle-color);
}

.prompt {
    margin-bottom: 100px;
    text-align: start;
}

.gif-container {
    height: 250px;
    text-align: center;
}

.gif-container .gif-mainpage {
    height: 70%;
    width: min-content;
}

.friendlist-container {
    padding: 1em;
    width: 100%;
    height: auto;
    text-align  : center;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: var(--background-color);
}

.friendlist-container h1 {
    text-align: center;
    color: var(--subtitle-color);
    text-decoration: underline;
}

.friendlist-container h2 {
    align-self: flex-start;
    color: var(--subtitle-color);
    /* text-decoration: underline; */
}

.see-more-button {
    color: var(--text-color);
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--button-before);
}

.see-more-button:hover {
    background-color: var(--button-after);
}

.skeleton-friend {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    margin: 0.5em;
    padding: 10px;
    border-bottom: 1px solid silver;
}

.skel-username  {
    width: 60%;
}